:root {
  --main-purple: #381460;
  --main-pink: #fe346e;
  --main-yellow: #ffbd69;
  --main-claret: #b21f66;
}

@import url("https://fonts.googleapis.com/css?family=Arvo|Indie+Flower&display=swap");

body {
  font-family: "Indie Flower", cursive;
  padding: 2em;
  text-align: center;
  background-color: var(--main-purple);
}

button {
  border-radius: 25px;
  font-size: 1.1em;
  margin-top: 4px;
  padding: 10px;
  color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  background-color: var(--main-claret);
  font-family: "Arvo", serif;
}

.card {
  margin-top: 20px;
}

p {
  color: var(--main-pink);
  font-size: 150%;
  font-family: "Arvo", serif;
}

h1 {
  color: var(--main-yellow);
  font-size: 500%;
  margin: 25px;
}
